/* Defaults */
    .TAL{text-align: left !important;} .TAR{text-align: right !important;} .TAC{text-align: center !important;}
    .FL{float: left;} .FR{float: right;}
    .NM{margin: 0px;} .NMT{margin-top: 0px;} .NMB{margin-bottom: 0px;} .NMR{margin-right: 0px;} .NML{margin-left: 0px;}
    .NP{padding: 0px;} .NPT{padding-top: 0px;} .NPB{padding-bottom: 0px;} .NPR{padding-right: 0px;} .NPL{padding-left: 0px;}    
    
    a{outline: none !important;}
    
    form{margin: 0px;}
    
    .dr{height: 5px; margin: 10px 0px; width: 100%; clear: left; background: url("../img/backgrounds/divider.png") left center repeat-x;}
        .dr span{background: url("../img/backgrounds/divider_span.png") center center no-repeat; width: 100%; height: 5px; display: block;}    

    .img-polaroid{border-color: #E5E5E5;}
    
/* custom bg */
    .bg_default{background-image: url('../img/backgrounds/bg_default.jpg');}
    .bg_mgrid{background-image: url('../img/backgrounds/bg_mgrid.jpg');}
    .bg_crosshatch{background-image: url('../img/backgrounds/bg_crosshatch.jpg');}
    .bg_yellow_hatch{background-image: url('../img/backgrounds/bg_yellow_hatch.jpg');}
    .bg_hatch{background-image: url('../img/backgrounds/bg_hatch.jpg');}
    .bg_green_hatch{background-image: url('../img/backgrounds/bg_green_hatch.jpg');}    
    .bg_texture{background-image: url('../img/backgrounds/bg_texture.jpg');}
    .bg_light_gray{background-image: url('../img/backgrounds/bg_light_gray.jpg');}
    .bg_dark_gray{background-image: url('../img/backgrounds/bg_dark_gray.jpg');}
    .bg_light_orange{background-image: url('../img/backgrounds/bg_light_orange.jpg');}
    
    #bgPreview li{height: 20px; background-position: left top; cursor: pointer; border-top: 1px solid #FFF; border-bottom: 1px solid #EEE;}
        #bgPreview li:first-child{border-top: 0px;}
/* custom bg */

/* Header */
.header{width: 100%; height: 38px; border-top: 1px solid #2F3F57; border-bottom: 1px solid #2F3F57;
        background-color: #3F516B;
        background: -moz-linear-gradient(top,#41546F,#3B4C65);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#41546F), color-stop(100%,#3B4C65));
        background: -webkit-linear-gradient(top, #41546F 0%,#3B4C65 100%);
        background: -o-linear-gradient(top, #41546F 0%,#3B4C65 100%);
        background: -ms-linear-gradient(top, #41546F 0%,#3B4C65 100%);
        background: linear-gradient(top, #41546F 0%,#3B4C65 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF41546F', endColorstr='#FF3B4C65',GradientType=0);
        -moz-box-shadmodal-footerow: inset 0 1px #4D6383, 2px 0 4px rgba(0, 0, 0, 0.1), 0px 1px 4px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: inset 0 1px #4D6383, 2px 0 4px rgba(0, 0, 0, 0.1),0px 1px 4px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 1px #4D6383, 2px 0 4px rgba(0, 0, 0, 0.1), 0px 1px 4px rgba(0, 0, 0, 0.2);}

.header .logo{background: url("../img/logo.png") center center no-repeat; width: 103px; height: 35px; margin: 2px 0px; float: left;}

    /* buttons */    
    .buttons{float: right; padding: 4px 15px 0px 10px;}
        .buttons > div{float: left; margin-right: 2px;}
        /* custom dropdown */
        .dropdown, .popup{position: relative; z-index: 995; border: solid transparent; border-width: 2px 2px 1px 2px;}
        .dropdown.active,.popup.active{border: 1px solid #29374C; border-bottom: 0px;
                        -webkit-border-radius: 3px 3px 0px 0px;
                        -moz-border-radius: 3px 3px 0px 0px;
                        border-radius: 3px 3px 0px 0px;                                       
                         -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25),-1px 2px 2px rgba(0, 0, 0, 0.25);
                         -moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.25),-1px 2px 2px rgba(0,0,0,0.25);
                         box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25),-1px 2px 2px rgba(0, 0, 0, 0.25);}
            .dropdown .label, .popup .label{border: 0px; padding: 0px; margin: 0px; text-shadow: 0px 1px 2px #333; padding: 5px 5px 6px 5px; background: transparent; cursor: pointer;}
            .dropdown.active .label, .popup.active .label{background-color: #42546D; border: 1px solid #4A5F7E; }
            .dropdown .body{display: none; position: absolute; top: 29px; right: -1px; z-index: 996;                            
                            border: 1px solid #29374C;                            
                            background-color: #42546D;
                            -webkit-border-radius: 3px 0px 3px 3px;
                            -moz-border-radius: 3px 0px 3px 3px;
                            border-radius: 3px 0px 3px 3px;
                            -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25),-1px 2px 2px rgba(0, 0, 0, 0.25);
                            -moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.25),-1px 2px 2px rgba(0,0,0,0.25);
                            box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25),-1px 2px 2px rgba(0, 0, 0, 0.25);}
            .dropdown.active .body{display: block;}
                .dropdown .body .itemLink{position: relative; display: block; border-bottom: 1px solid #29374C; border-top: 1px solid #536989;}
                    .dropdown .body .itemLink a{color: #FFFFFF; text-decoration: none; padding: 3px 10px; display: block; text-shadow: 1px 1px 0px #333;}
                    .dropdown .body .itemLink a:hover{background: #4B5E7B;}
                    .dropdown .body .itemLink:first-child{-webkit-border-radius: 3px 0px 0px 0px;-moz-border-radius: 3px 0px 0px 0px;border-radius: 3px 0px 0px 0px;}
                    .dropdown .body .itemLink:last-child{-webkit-border-radius: 0px 0px 3px 3px;-moz-border-radius: 0px 0px 3px 3px;border-radius: 0px 0px 3px 3px; border-bottom: 0px;}
        /* eof custom dropdown */
#subNavControll{display: none;}
.smw #subNavControll{display: block;}        
        /* custom popup */
        .popup.active{border-bottom: 0px; line-height: 18px;
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        border-radius: 3px;}
        .popup.active .label{padding-bottom: 0px;}
        .popup .body{width: 300px; position: absolute; right: 0px; top: 40px; background: #F5F5F5; z-index: 1000; border-top: 10px solid #42536d; border-bottom: 10px solid #42536d; display: none;
                     -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; 
                     -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2); -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2); box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);}
            .popup .body .arrow{position: absolute; right: 9px; top: -15px; width: 0px; height: 0px; border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 5px solid #42536d;}
        .popup.active .body{display: block;}
            .popup .body span.top{font-weight: bold; color: #333 !important;}
            .popup .body .row-form{padding: 10px;}
            .popup .body .themes, .popup .body .backgrounds{margin: 0px;}
            .popup .body .themes a,.popup .body .backgrounds a{display: inline-block; width: 20px; height: 20px; margin-right: 3px; border: 1px solid #DDD; padding-bottom: 0px;}
                .popup .body .themes a img{display: block; vertical-align: baseline;}
        /* eof custom popup */
        
    /* eofbuttons */        
    
/* eof header */

/* Left navigation */
.navigation{min-height: 92%; position: absolute; z-index: 10; left: 0px; top: 40px; background-color: #f7f8fa; border-bottom: 10px solid #f7f8fa; border-right: 1px solid #f7f8fa;}

.smw .navigation{display: none;}
    .smw .navigation.active{display: block;}
    /* Left main navigation*/
    .navigation ul.main{display: block; width: 69px; min-height: 100%; position: relative; list-style: none; padding: 0px; margin: 0px; margin-top: 10px; border-top: 1px solid #2F3F57; z-index: 10;}
            .navigation ul.main li a{display: block; width: 66px; text-align: center; padding-top: 5px; padding-right: 2px;
                                     background: url('../img/backgrounds/bg_box_head_dark.jpg');
                                     border: 1px solid #2F3F57;
                                     border-top: 1px solid #4D6383;}
            
                .navigation ul.main li a span{display: inline-block; font-size: 11px;}
                    .navigation ul.main li a span.text{width: 68px; color: #FFFFFF; text-shadow: 0px 1px 0px #333;}
                    
                .navigation ul.main li a:hover,
                .navigation ul.main li a.active{background: url('../img/backgrounds/mainNav_active.png') right center no-repeat #394960; padding-right: 0px; border-right: 3px solid #54A1E6;}
    /* eof left main navigation*/
    
    /* left submenu of main */
    .navigation .submain{width: 0px; min-height: 100%; z-index: 991; position: absolute; left: 70px; top: 0px; border-top: 10px solid #f7f8fa; border-right: 10px solid #f7f8fa;
                         display: block; background: url('../img/backgrounds/bg_subnav.jpg') left top repeat #F5F5F5; overflow: hidden;
                         -moz-box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.1);
                         -webkit-box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.1);
                         box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.1);}
        
        .smf .navigation .submain{width: 220px;}
        
        .navigation .control{width: 18px; height: 26px; background: url('../img/subnav_button_right.png') left center no-repeat; position: absolute; z-index: 992; right: -29px; top: 10px; cursor: pointer;}
            .navigation .control.active{background: url('../img/subnav_button_left.png') left top no-repeat; right: -249px;}
            
            .smf .navigation .control{display: none;}
            
        .navigation .submain > div{display: none;}
            .navigation .submain > div.control{display: block;}
        /* eof left submenu of main */
        
        .navigation .submain .menu{position: relative; border-top: 1px solid #d5d5d5;}
            .navigation .submain .menu a{display: block; width: 198px; font-size: 11px; color: #333; text-decoration: none; padding: 5px 10px 4px; 
                                        border: 1px solid #d5d5d5; border-top: 0px;
                                        background: #F5F5F5;
                                        background: -moz-linear-gradient(top, #FFFFFF 0%, #F1F1F1 100%);
                                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F1F1F1));
                                        background: -webkit-linear-gradient(top, #FFFFFF 0%,#F1F1F1 100%);
                                        background: -o-linear-gradient(top, #FFFFFF 0%,#F1F1F1 100%);
                                        background: -ms-linear-gradient(top, #FFFFFF 0%,#F1F1F1 100%);
                                        background: linear-gradient(top, #FFFFFF 0%,#F1F1F1 100%);
                                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F1F1F1',GradientType=0);
                                        -moz-box-shadow: inset -1px 1px 1px #FFF; -webkit-box-shadow: inset -1px 1px 1px #FFF; box-shadow: inset -1px 1px 1px #FFF;
            }
                .navigation .submain .menu a span[class^="icon-"]{margin-top: 0px;}
            .navigation .submain .menu a:hover,
            .navigation .submain .menu a.active{background: #F1F1F1; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F1F1F1', endColorstr='#F1F1F1',GradientType=0);}
            .navigation .submain .menu a:active{-moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
                                               -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
                                               box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);}
        /* eof left submenu of main */
        
        /* featured submenu */
        .navigation .submain ul.fmenu{border-top: 1px solid #2F3F57;}
        .navigation .submain ul.fmenu,
        .navigation .submain ul.fmenu ul{padding: 0px; margin: 0px; position: relative; list-style: none;}
        .navigation .submain ul.fmenu ul{display: none;}
            .navigation .submain ul.fmenu li,
            .navigation .submain ul.fmenu ul li{padding: 0px; margin: 0px; display: block; position: relative;}
            .navigation .submain ul.fmenu li .caption{position: absolute; right: 5px; top: 6px; background: #3E506A; padding: 2px 5px;
                                                         color: #FFF; font-size: 11px; line-height: 13px;
                                                         -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
                .navigation .submain ul.fmenu li .caption.blue{background: #54A1E6; color: #FFF;}
                .navigation .submain ul.fmenu li .caption.red{background: #B94A48;}
                .navigation .submain ul.fmenu li .caption.green{background: #257F2A;}
                .navigation .submain ul.fmenu li .caption.orange{background: #FF6D1F;}
                .navigation .submain ul.fmenu li .caption.purple{background: #553285;}
            
                .navigation .submain ul.fmenu li a{display: block; width: 199px; font-size: 11px; text-decoration: none; padding: 5px 10px 4px;}
                .navigation .submain ul.fmenu > li > a{border: 1px solid #394960; border-top: 1px solid #4D6383; border-left: 0px; color: #FFF; 
                                                       text-shadow: 0px 1px 0px #333; background: #41526C;}
                .navigation .submain ul.fmenu > li > a:hover,
                .navigation .submain ul.fmenu > li.active > a{background-color: #394960;}
                .navigation .submain ul.fmenu li ul a{background: #F7F8FA; border-top: 1px solid #FFF; border-bottom: 1px solid #F0F0F0; color: #333; padding-left: 15px;}
                    .navigation .submain ul.fmenu li ul a:hover{background: #FFF;}
                    
                .navigation .submain ul.fmenu > li.active > ul{display: block;}
                
        /* eof featured submenu */
        
        /* submenu widgets */
        .navigation .submain .widget{width: 200px; margin: 10px 10px 0px;}
        .navigation .submain .widget-fluid{width: 220px; margin: 10px 0px 0px;}
                        
            .navigation .submain .row-form{background: #F5F5F5; border-left: 0px;}
            .navigation .submain .widget .head,
            .navigation .submain .widget-fluid .head{display: block; padding: 5px 10px 4px; border-bottom: 1px solid #D5D5D5; border-top: 1px solid #FFF; 
                                                     font-size: 11px; color: #333; font-weight: bold; background: url('../img/backgrounds/bg_box_head.jpg');}
            
            .navigation .submain .userInfo{position: relative; clear: both; border-bottom: 1px solid #f1f1f1;
                                           -moz-box-shadow: inset 0px -1px 0px #F5F5F5; -webkit-box-shadow: inset 0px -1px 0px #F5F5F5; box-shadow: inset 0px -1px 0px #F5F5F5;}
                .navigation .submain .userInfo .image{float: left; margin: 0px 5px 5px;}
                .navigation .submain .userInfo .name{float: left; font-size: 12px; font-weight: bold; color: #333; margin: 0px 5px 5px; text-shadow: 1px 1px 0px #FFF;}
                .navigation .submain .userInfo .menuList{list-style: none; margin: 0px 5px 5px 0px; padding: 0px; float: right; width: 140px;}
                    .navigation .submain .userInfo .menuList li{line-height: 17px; text-align: left;}
                        .navigation .submain .userInfo .menuList li a{color: #333; text-decoration: none; text-shadow: 1px 1px 0px #FFF;}
                            .navigation .submain .userInfo .menuList li a:hover{color: #42abda;}
                .navigation .submain .userInfo .text{float: left; width:100%; font-size: 10px; color: #888; padding: 0px 5px 5px;  text-shadow: 1px 1px 0px #FFF; line-height: 13px;}
                
                    
        /* eof submenu widgets */

/* Content */
.content{position: relative; margin-left: 80px; padding: 20px;}    
.smf .content{ margin-left: 300px; }
.smw .content{ margin-left: 0px; }
    /* Middle navigation */
    .middle{width: 100%; text-align: center; margin-bottom: 20px;}
        .middle .button{width: 108px; height: 108px; margin: 10px 15px 15px;  position: relative; background-color: #FFF; display: inline-block;
                        background: #FCFCFC;
                        background: -moz-linear-gradient(top, #FFFFFF 0%, #FAFAFA 100%);
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#FAFAFA));
                        background: -webkit-linear-gradient(top, #FFFFFF 0%,#FAFAFA 100%);
                        background: -o-linear-gradient(top, #FFFFFF 0%,#FAFAFA 100%);
                        background: -ms-linear-gradient(top, #FFFFFF 0%,#FAFAFA 100%);
                        background: linear-gradient(top, #FFFFFF 0%,#FAFAFA 100%);
                        
                        -moz-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2), inset 0px 1px 3px rgba(255, 255, 255, 0.5);
                        -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2), inset 0px 1px 3px rgba(255, 255, 255, 0.5);
                        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2), inset 0px 1px 3px rgba(255, 255, 255, 0.5);                        
                        -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;}       
        
            .middle .button > a{display: block; width: 86px; height: 86px; float: left; margin: 10px; text-align: center;
                                border: 1px solid #DDD;
                                background: #eef1f3;
                                background: -moz-linear-gradient(top, #FFFFFF 0%, #dedede 100%);
                                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#dedede));
                                background: -webkit-linear-gradient(top, #FFFFFF 0%,#dedede 100%);
                                background: -o-linear-gradient(top, #FFFFFF 0%,#dedede 100%);
                                background: -ms-linear-gradient(top, #FFFFFF 0%,#dedede 100%);
                                background: linear-gradient(top, #FFFFFF 0%,#dedede 100%);
                                
                                -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6), inset 0px 1px 2px rgba(0, 0, 0, 0.3);
                                -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6), inset 0px 1px 2px rgba(0, 0, 0, 0.3);
                                box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6), inset 0px 1px 2px rgba(0, 0, 0, 0.3);                                                                
                                -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;}
            
            .middle .button > a:active{-moz-box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.6), inset 0px 1px 4px rgba(0, 0, 0, 0.3);
                                -webkit-box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.6), inset 0px 1px 4px rgba(0, 0, 0, 0.3);
                                box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.6), inset 0px 1px 4px rgba(0, 0, 0, 0.3);}
            
            .middle .button > a span{display: inline-block; text-align: center;}
            .middle .button > a span[class^='ico']{margin: 10px 0px 0px;}            
                .middle .button > a.large{text-align: center;}
                .middle .button > a.large span[class^='ico']{margin: 3px 1px;}
                .middle .button > a span.text{color: #333; font-family: 'Helvetica Neue','Helvetica',Arial,sans-serif; font-size: 11px; font-weight: bold; text-shadow: 0 1px white; line-height: 13px; width: 74px;}
            
            .middle .button .sub{position: absolute; left: 42px; top: 42px; list-style: none; padding: 0px; margin: 0px; z-index: 1;}            
                .middle .button .sub li{position: absolute; height: 20px; width: 20px; padding: 1px; border: 1px solid #CCC; display: none; opacity: 0; background-color: #FCFCFC;
                                        -moz-border-radius: 11px; -webkit-border-radius: 11px; border-radius: 11px; line-height: 20px; 
                                        -moz-box-shadow: 0px 0px 2px #D9D9D9; -webkit-box-shadow: 0px 0px 2px #D9D9D9; box-shadow: 0px 0px 2px #D9D9D9;}
                
                .middle .button .sub li a{text-decoration: none; position: relative;}
                    .middle .button .sub li span{margin: 0px;}                                    
            
                .middle .button .sub li:hover{ -webkit-box-shadow: inset 0 1px 0px #CCC, 0 1px 1px #F9F9F9; -moz-box-shadow: inset 0 1px 0px #CCC, 0 1px 1px #F9F9F9;  box-shadow: inset 0 1px 0px #CCC, 0 1px 1px #F9F9F9;}
                
    .middle .informer{display: inline-block; position: relative; padding: 5px; margin-right: 10px; margin-bottom: 10px;
                        background: #FCFCFC;
                        background: -moz-linear-gradient(top, #FFFFFF 0%, #FAFAFA 100%);
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#FAFAFA));
                        background: -webkit-linear-gradient(top, #FFFFFF 0%,#FAFAFA 100%);
                        background: -o-linear-gradient(top, #FFFFFF 0%,#FAFAFA 100%);
                        background: -ms-linear-gradient(top, #FFFFFF 0%,#FAFAFA 100%);
                        background: linear-gradient(top, #FFFFFF 0%,#FAFAFA 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FAFAFA',GradientType=0);
                        -moz-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2), inset 0px 1px 3px rgba(255, 255, 255, 0.5);
                        -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2), inset 0px 1px 3px rgba(255, 255, 255, 0.5);
                        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2), inset 0px 1px 3px rgba(255, 255, 255, 0.5);                    
                      -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
        .middle .informer > a{border: 1px solid #DDD; padding: 10px; display: block; float: left; text-align: center; text-decoration: none;
                                background: #E5E5E5;
                                background: -moz-linear-gradient(top, #F9F9F9 0%, #E5E5E5 100%);
                                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F9F9F9), color-stop(100%,#E5E5E5));
                                background: -webkit-linear-gradient(top, #F9F9F9 0%,#E5E5E5 100%);
                                background: -o-linear-gradient(top, #F9F9F9 0%,#E5E5E5 100%);
                                background: -ms-linear-gradient(top, #F9F9F9 0%,#E5E5E5 100%);
                                background: linear-gradient(top, #F9F9F9 0%,#E5E5E5 100%);     
                                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9', endColorstr='#E5E5E5',GradientType=0 );
                                -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
        .middle .informer > a:active{-moz-box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.6), inset 0px 1px 2px rgba(0, 0, 0, 0.15);
                                    -webkit-box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.6), inset 0px 1px 2px rgba(0, 0, 0, 0.15);
                                    box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.6), inset 0px 1px 2px rgba(0, 0, 0, 0.15);}
            .middle .informer > a > span,
            .middle .informer > a > div{display: block;}
            .middle .informer > a > span[class^='ico']{height: 40px; margin: 0px 20px;}
            .middle .informer > a > span.text,
            .middle .informer > a > span.title{color: #333; font-family: 'Helvetica Neue','Helvetica',Arial,sans-serif; font-size: 12px; font-weight: bold; text-shadow: 0 1px white; line-height: 16px;}
            .middle .informer > a > span.title{font-size: 36px; line-height: 40px; color: #666; text-shadow: 0px 1px 0px #FFF;}
            
        .middle .informer .caption{position: absolute; right: -5px; top: -5px; font-size: 11px; color: #FFF; 
                                   line-height: 13px; padding: 2px 5px; font-family: 'Helvetica Neue','Helvetica',Arial,sans-serif;
                                   background: #3D4F69; border: 1px solid #344359;
                                   -moz-box-shadow: inset 0px 1px 2px #485E7D, 0px 1px 3px rgba(0,0,0,0.15);
                                   -webkit-box-shadow: inset 0px 1px 2px #485E7D, 0px 1px 3px rgba(0,0,0,0.15);
                                   box-shadow: inset 0px 1px 2px #485E7D, 0px 1px 3px rgba(0,0,0,0.15);
                                   -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
    /* eof middle navigation */
    
    /* widget */
    
    .widget{position: relative; width: 100%; margin-bottom: 20px;}
    
        .widget .head{background-image: url('../img/backgrounds/bg_box_head.jpg');                      
                      border: 1px solid #DDD;
                      padding-left: 5px;
                      -webkit-box-shadow: inset 0 1px white; -moz-box-shadow: inset 0 1px #fff; box-shadow: inset 0 1px white; 
                      -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;}
        
            .widget .head .icon{display: block; float: left; margin: 1px 0px 0px 5px; padding: 7px 0px 0px 0px;}
            .widget .head h2{ margin: 0px 0px 0px 5px; padding: 0px; font-family: 'Helvetica Neue','Helvetica',Arial,sans-serif; font-size: 13px; padding: 7px 0px 5px 0px;
                              font-weight: bold; text-shadow: 0 1px white; display: inline-block; line-height: 20px;}
            
            .widget .head ul.buttons{list-style: none; padding: 0px; margin: 0px; position: relative;}
                .widget .head ul.buttons > li{display: block; float: left; border-left: 1px solid #DDD;}
                    .widget .head ul.buttons > li > a{line-height: 13px; padding: 6px 10px 4px 10px; display: block; text-decoration: none;
                                                      -moz-box-shadow: inset 1px 0px 0px #FFF; 
                                                      -webkit-box-shadow: inset 1px 0px 0px #FFF; 
                                                      box-shadow: inset 1px 0px 0px #FFF;}
                        .widget .head ul.buttons > li > a > [class^='ico']{margin-top: 2px;}
                        .widget .head ul.buttons > li > a > [class='text']{font-size: 12px; color: #333; line-height: 22px; text-shadow: 0px 1px 0px #FFF;}
                        .widget .head ul.buttons > li > a:hover{background-color: #EEE;}
                        .widget .head ul.buttons > li > a:active,
                        .widget .head ul.buttons > li.active > a{background-color: #E9E9E9;
                                                                 -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1),0 1px 2px rgba(0, 0, 0, 0.05);
                                                                 -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1),0 1px 2px rgba(0, 0, 0, 0.05);
                                                                 box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1),0 1px 2px rgba(0, 0, 0, 0.05);}
                        
                        .widget .head ul.buttons > li.active > .dropdown-menu{display: block; left: auto; right: -1px; border-color: #DDD; font-size: 11px; padding: 0px;
                                                                                -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }
                    
                .widget .head .items{position: relative; float: right; padding: 6px 10px 5px 5px;}
                    .widget .head .items .progress.small{margin-top: 8px !important;}
                        
        .widget .block, .widget .block-fluid{margin-bottom: 0px;}        
            
            .widget .block.editor, .widget .block-fluid.editor{padding: 0px; border: 1px solid #DDD; border-top: 0px;}
        
        .widget .wrapper{display: block; border: 1px solid #DDD; padding: 5px;
                         background: #E5E5E5;
                         background: -moz-linear-gradient(top, #F9F9F9 0%, #E5E5E5 100%);
                         background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F9F9F9), color-stop(100%,#E5E5E5));
                         background: -webkit-linear-gradient(top, #F9F9F9 0%,#E5E5E5 100%);
                         background: -o-linear-gradient(top, #F9F9F9 0%,#E5E5E5 100%);
                         background: -ms-linear-gradient(top, #F9F9F9 0%,#E5E5E5 100%);
                         background: linear-gradient(top, #F9F9F9 0%,#E5E5E5 100%);     
                         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9', endColorstr='#E5E5E5',GradientType=0 );
                         -moz-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2), inset 0px 1px 3px rgba(255, 255, 255, 0.5);
                         -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2), inset 0px 1px 3px rgba(255, 255, 255, 0.5);
                         box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2), inset 0px 1px 3px rgba(255, 255, 255, 0.5);                    
                         -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
        .widget .wrapper .input-append, .widget .wrapper .input-prepend,
        .widget .wrapper .input-append button, .widget .wrapper .input-prepend button{margin-bottom: 0px;}
        
    /* eof widget */
    
    /* block */
    
        /* set clear fix to row-form element */
        * html .block, * html .block-fluid, * html .toolbar, * html .toolbar-fluid{ height: 1%; overflow: visible; } /* ie 6 */
        *+html .block, *+html .block-fluid, *+html .toolbar, *+html .toolbar-fluid{ min-height: 1%; } /* ie 7 */
        .block:after, .block-fluid:after, .toolbar:after, .toolbar-fluid:after{clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0; }
        /* eof set */    
    
    .block,.block-fluid{background: #f5f5f5; border: 10px solid #FFF; padding: 10px; margin-bottom: 20px;}
    .block-fluid{padding: 0px;}            
    
    /* eof block */
            
    /* toolbar */
    .toolbar, .toolbar-fluid{padding: 10px; position: relative; background: #EEE; border: 1px solid #DDD; border-top-width: 0px;
                             -moz-box-shadow: inset 0px 1px 0px #FFF; -webkit-box-shadow: inset 0px 1px 0px #FFF; box-shadow: inset 0px 1px 0px #FFF;}
    .toolbar-fluid{padding: 0px;}
        .toolbar.bottom{border-width: 1px;}
        .toolbar.inside{border-width: 0px; border-bottom: 1px;}
        .block .toolbar.bottom, .block-fluid .toolbar.bottom{border-top-width: 0px; border-bottom-width: 1px;}
        
        .toolbar .user{display: inline-block; margin-right: 10px;}
        
        .toolbar .pagination{margin: 0px; line-height: 15px; height: 30px;}
        .toolbar .input-append, .toolbar .input-prepend,
        .toolbar .input-append button, .toolbar .input-prepend button{margin: 0px;}            
        
        .toolbar .left{float: left;}
        .toolbar .right{float: right;}
        
    /* eof toolbar */
    
    /* profile */
    .profile{display: block; background: #FFF; border: 1px solid #CCC; -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2); -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2); box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
             -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
        .profile .info{float: left; padding: 10px 10px 30px 10px; position: relative;}
            .profile .info h2{font-size: 20px; color: #3c4e66; line-height: 24px; margin: 0px 0px 10px 0px; padding: 0px;}
            .profile .info p{font-size: 12px; color: #666; line-height: 11px; margin-bottom: 5px;}
                .profile .info p strong{color: #3c4e66;}
            .profile .info .status{position: absolute; left: 0px; bottom: 0px; color: #FFF; text-shadow: 1px 1px 0px #000; font-size: 11px; font-weight: bold; padding: 3px 20px 3px 10px;
                                   background: url('../img/backgrounds/profile_status.jpg') right top no-repeat #3c4e66;}
        .profile .image{float: right; padding: 10px;}
            .profile .image img{-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
        .profile .stats{float: left; width: 100%; border-top: 1px solid #CCC; -moz-box-shadow: inset 0px 1px 0px #FFF; -webkit-box-shadow: inset 0px 1px 0px #FFF; box-shadow: inset 0px 1px 0px #FFF; 
                        background: #f9f6ed; -moz-border-radius: 0px 0px 5px 5px; -webkit-border-radius: 0px 0px 5px 5px; border-radius: 0px 0px 5px 5px;}
            .profile .stats .item{float: left; padding: 10px 10px;}
                .profile .stats .item .title,                
                .profile .stats .item .descr{font-size: 18px; line-height: 24px; color: #666; text-shadow: 1px 1px 0px #FFF; text-align: center;}
                .profile .stats .item .descr{font-size: 11px; line-height: 13px; color: #888;}
    /* eof profile */
    
    /* user card */
    
        /* set clear fix to userCard and timeline*/
        * html .userCard, * html .timeline{ height: 1%; overflow: visible; } /* ie 6 */
        *+html .userCard, *+html .timeline{ min-height: 1%; } /* ie 7 */
        .userCard:after,
        .timeline:after{clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0; }
        /* eof set */    
        
    .userCard{display: block; position: relative; background: #FDFDFD; padding: 5px; margin: 5px 0px;
             -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
             -moz-box-shadow: inset 1px 2px 0px #FFF, 1px 1px 2px rgba(0,0,0,0.2); -webkit-box-shadow: inset 1px 2px 0px #FFF, 1px 1px 2px rgba(0,0,0,0.2); box-shadow: inset 1px 2px 0px #FFF, 1px 1px 2px rgba(0,0,0,0.2);
            }
        .userCard .image{float: left; margin-right: 10px;}
        .userCard .info{display: inline;}
            .userCard .info h3{font-size: 13px; line-height: 16px; color: #3c4e66; margin: 0px; padding: 0px; text-shadow: 1px 1px 0px #FFF;}
            .userCard .info p{margin-bottom: 0px; opacity: 0.8; filter: alpha(opacity=80); text-shadow: 1px 1px 0px #FFF;}
                .userCard .info p span{margin: 0px;}
            .userCard .info button{padding: 3px 5px; line-height: 13px; margin-top: 2px;}
            .userCard .info .informer{float: right; color: #55a3e5; font-size: 14px; line-height: 16px; text-align: center; font-weight: bold; text-shadow: 1px 1px 0px #FFF;}
                .userCard .info .informer span{font-size: 11px; color: #666; line-height: 13px; display: block; font-weight: normal;}
    /* eof user card */
    
    /* time line */
    
    .timeline{display: block; background: url('../img/backgrounds/timeline.png') 60px 10px repeat-y transparent;}
        .timeline .event{padding-left: 100px; position: relative; margin-bottom: 20px; float: left; clear: both;}
            .timeline .event .date{position: absolute; left: 0px; top: 2px; width: 50px; font-size: 16px; color: #2481ac; text-align: center; line-height: 13px; font-weight: bold; text-shadow: 1px 1px 0px #FFF;}
            .timeline .event .date.red{color: #b84b48;}
                .timeline .event .date span{font-size: 11px; color: #666; display: block; font-weight: normal;}
                
            .timeline .event .icon{background: url('../img/backgrounds/timeline_dots.png') left top no-repeat; position: absolute; top: -3px; 
                                   left: 52px; width: 31px; height: 24px; text-align: center; padding: 8px 0px 0px 1px;}
            .timeline .event:last-child{margin-bottom: 0px;}
                .timeline .event:first-child .icon{background-image: url('../img/backgrounds/timeline_dots_first.png');}
                .timeline .event:last-child .icon{background-image: url('../img/backgrounds/timeline_dots_last.png'); top: 5px;}                
            .timeline .event .body{position: relative; border: 5px solid #FFF; background: #F5F5F5;
                                   -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
                                   -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2); -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2); box-shadow: 1px 1px 2px rgba(0,0,0,0.2);}
                .timeline .event .body .arrow{position: absolute; left: -13px; top: 3px; width: 8px; height: 10px; background: url('../img/backgrounds/white_arrow_left.png') left top no-repeat;}
                    .timeline .event:last-child .body .arrow{top: 12px;}
                .timeline .event .body .head{line-height: 14px; font-size: 12px; color: #3c4e66; font-weight: bold; text-shadow: 1px 1px 0px #FFF; margin-bottom: 5px; padding: 5px 5px 0px;}
                    .timeline .event .body .head a{color: #B94A48;}
                .timeline .event .body .text{font-size: 12px; color: #333; text-shadow: 1px 1px 0px #FFF; padding: 0px 5px 5px;}
                    .timeline .event .body .text.map{width: 400px; height: 300px; padding: 0px;}
                .timeline .event .body .user{line-height: 20px; font-size: 12px; font-weight: bold; padding: 5px;}
                    .timeline .event .body .user a{color: #B94A48; text-decoration: none;}
                    .timeline .event .body .user img{border: 2px solid #FFF; -moz-box-shadow: 1px 1px 0px #EEE; -webkit-box-shadow: 1px 1px 0px #EEE; box-shadow: 1px 1px 0px #EEE;}
            
    
    /* eof time line */
    
    /* users */
    .users .item{padding: 10px; border: 1px solid #E1E1E1; border-top: 1px solid #F5F5F5; position: relative;
                 background-color: #F7F7F7;
                 filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FDFDFD,EndColorStr=#F1F1F1);
                 background-image: -moz-linear-gradient(top,#FDFDFD 0,#F1F1F1 100%);
                 background-image: -ms-linear-gradient(top,#FDFDFD 0,#F1F1F1 100%);
                 background-image: -o-linear-gradient(top,#FDFDFD 0,#F1F1F1 100%);
                 background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FDFDFD),color-stop(100%, #F1F1F1));
                 background-image: -webkit-linear-gradient(top,#FDFDFD 0, #F1F1F1 100%);
                 background-image: linear-gradient(to bottom,#FDFDFD 0, #F1F1F1 100%);}
    .users .item:hover{background: #F7F7F7;}
        .users .item img{display: inline-block; margin-right: 10px;}
        .users .item a{display: inline-block; font-size: 12px;}
            .users .item a:hover{text-decoration: none;}
        .users .item .caption{position: absolute; right: 10px; top: 15px;}
    /* eof users */
    
    /* mailbox */
        .mailbox td a{display: block; line-height: 15px;}
            .mailbox td a.name{color: #B94A48;}
            .mailbox td a.subject{color: #333;}

        .mailbox tbody tr{border-left: 2px solid #AAA;}
            .mailbox tbody tr.new{border-left: 2px solid #54a1e5;}
            .mailbox tbody .new a.subject{font-weight: bold; color: #B94A48;}
        
        .mailbox thead tr,
        .mailbox tbody tr.heading{border-left: 2px solid #DDD;}
        
        .mailbox tbody tr.heading td{background: #FFF !important; font-size: 12px; color: #333; font-weight: bold;}
        
        .mailbox td img{margin: 0px 10px 0px 0px;}
        
        
    
    /* eof mailbox */
    
    /* invoice */
        .invoice{font-size: 12px; color: #333; text-shadow: 1px 1px 0px #FFF; background: #FFF;}
        .invoice h1{font-size: 30px; line-height: 34px; text-shadow: 1px 1px 0px #FFF; color: #42536d; margin: 0px;}
        .invoice span.date{font-size: 12px; line-height: 16px; color: #333; font-weight: bold; margin-bottom: 50px; display: block;}
    
        .invoice h3, .invoice h4{font-size: 20px; line-height: 34px; text-shadow: 1px 1px 0px #FFF; color: #42536d; border-bottom: 1px solid #DDD;
                                 -moz-box-shadow: inset 0px -1px 0px #FFF; -webkit-box-shadow: inset 0px -1px 0px #FFF; box-shadow: inset 0px -1px 0px #FFF;}
        .invoice p{margin: 3px 5px;}
        .invoice em{font-size: 10px; font-style: normal; color: #CCC;}
        .invoice .total{float: right; padding-top: 20px;}
        .invoice .highlight{padding: 5px; background: #55a2e6; border-top: 1px solid #CCC; color: #fff; text-shadow: 1px 1px 0px #333;}
        .invoice .highlight em{color: #F1F1F1;}
        
        .invoice table th{background: #55a2e6; color: #fff; text-shadow: 1px 1px 0px #333;}
    /* eof invoice */
    
    /* typography */
    .typography{font-size: 12px; text-shadow: 1px 1px 0px #FFF; color: #333;}
    .typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6{color: #3c4e66; text-shadow: 1px 1px 0px #FFF;}
    .typography h5, .typography h6{color: #333;}
    .typography blockquote{font-size: 12px; border-color: #3c4e66;}
        .typography blockquote p{font-size: 12px; line-height: 16px;}
    
    .typography ul.blue{list-style-image: url('../img/list_blue.png');}
    .typography ul.red{list-style-image: url('../img/list_red.png');}
    .typography dl dt{color: #3c4e66;}
    .typography dl.red dt{color: #B94A48;}
    .typography img{margin: 5px 10px 5px;}
    /* eof typography */
    
    /* Calendar */
        .fc-state-active .fc-button-content{text-decoration: underline;}        
        
        .fc-event-skin.red,.fc-event.red .fc-event-skin{background-color: #aa4644; border-color: #8F3B39;}
        .fc-event-skin.green,.fc-event.green .fc-event-skin{background-color: #89a54e; border-color: #778F43;}
        .fc-event-skin.orange,.fc-event.orange .fc-event-skin{background-color: #CC821E; border-color: #A36818;}
        .fc-event-skin.purple,.fc-event.purple .fc-event-skin{background-color: #553285; border-color: #36175E;}
        .fc-header{border-bottom: 0px;}
        .fc-header td.fc-header-center,
        .fc-header td.fc-header-left,
        .fc-header td.fc-header-right{border-right: 0px; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}
        .fc-border-separate{border-top: 0px;}
        .fc-border-separate .fc-header tdtable.fc-border-separate{border: 0px;}
    /* eof Calendar */
    
    /* pnotify */
    .ui-pnotify.custom .ui-pnotify-container { background-color: #404040; background-image: none; border: none; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
    .ui-pnotify.custom .ui-pnotify-title, .ui-pnotify.custom .ui-pnotify-text { margin-bottom: 2px; font-family: Arial, Helvetica, sans-serif; text-shadow: 1px 2px 2px black; font-size: 11px; color: #F5F5F5; line-height: 1; text-rendering: geometricPrecision; margin-left: 20px;}
    .ui-pnotify.custom .ui-pnotify-title { font-weight: bold; font-size: 12px; color: #FFF;}
    .ui-pnotify.custom .ui-pnotify-icon { position: absolute; left: 8px; top: 6px; }
    /* eof pnotify */
    
    
    /* table */  
    table thead th.sorting, table thead td.sorting{background: url('../img/backgrounds/dropdown_arrow.png') right center no-repeat;}
    table thead th.sorting_asc, table thead td.sorting_asc{background: url('../img/backgrounds/dropdown_arrow_up.png') right center no-repeat;}
    table thead th.sorting_desc, table thead td.sorting_desc{background: url('../img/backgrounds/dropdown_arrow_down.png') right center no-repeat;}
    
    table{border: 0px; position: relative; padding: 0px; margin: 0px; border: 1px solid #DDD;}
        table td, table th{border-right: 1px solid #DDD; border-bottom: 1px solid #DDD; -moz-box-shadow: inset 1px 1px 0px #FFF; -webkit-box-shadow: inset 1px 1px 0px #FFF; box-shadow: inset 1px 1px 0px #FFF;
                  text-shadow: 1px 1px 0px #FFF; padding: 8px;}
            table td:last-child{border-right: 0px;}
        table thead td, table thead th{background: #F1F1F1; color: #333; font-weight: bold;}
        table tbody tr:nth-child(2n+1) td{background: #FCFCFC;}
        
        .table-hover tbody tr:hover td, table tbody tr.active td{background: #ffffcb;}       
        .table{margin-bottom: 0px;}
        
        
    /* eof table */
    
    /* datatables */

    .dataTables_length, .dataTables_info{float: left;}
    .dataTables_filter, .dataTables_paginate{float: right;}
        
        .dataTables_length{position: relative; padding: 5px;}
            .dataTables_length label{font-size: 11px; margin-bottom: 0px;}
            .dataTables_length select{display: inline-block; width: auto;}
            
        .dataTables_filter{position: relative; padding: 5px;}
            .dataTables_filter label{font-size: 11px; margin-bottom: 0px;}
            .dataTables_filter input[type='text']{display: inline-block; width: auto; height: 26px; line-height: 14px;}
            
        .dataTables_info{font-size: 11px; color: #333; line-height: 26px; padding: 5px;}
        
        .paginate_button,        
        .paginate_disabled_previous,
        .paginate_disabled_next,
        .paginate_enabled_next,
        .paginate_active,
        .paginate_enabled_previous{float: left; border: 2px solid #FFF; line-height: 14px; font-size: 11px; color: #333; 
                                display: block; padding: 4px 5px; margin: 5px 5px 5px 0px;
                                color: #333; text-shadow: 0px 1px 0px #FFF;
                                background-color: #E0E0E0;                            
                                filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffe9e9e9,EndColorStr=#ffdddddd);
                                background-image: -moz-linear-gradient(top,#E9E9E9 0,#DDDDDD 100%);
                                background-image: -ms-linear-gradient(top,#E9E9E9 0,#DDDDDD 100%);
                                background-image: -o-linear-gradient(top,#E9E9E9 0,#DDDDDD 100%);
                                background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#E9E9E9),color-stop(100%, #DDDDDD));
                                background-image: -webkit-linear-gradient(top,#E9E9E9 0, #DDDDDD 100%);
                                background-image: linear-gradient(to bottom,#E9E9E9 0, #DDDDDD 100%);
                                -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
        
        .paginate_enabled_next,
        .paginate_enabled_previous,
        .paginate_active,.paginate_active:hover,
        .paginate_button,.paginate_button:hover,
        .paginate_enabled_next:hover,
        .paginate_enabled_previous:hover{cursor: pointer; text-decoration: none; }        
        .paginate_enabled_next:hover,
        .paginate_active, .paginate_active:hover,
        .paginate_button:hover,
        .paginate_enabled_previous:hover{ color: #333;
                                         -moz-box-shadow: inset 0 1px 3px #AAA; -webkit-box-shadow: inset 0 1px 3px #AAA; box-shadow: inset 0 1px 3px #AAA;}
        
        
        .paginate_button_disabled, .paginate_button_disabled:hover,        
        .paginate_disabled_previous, .paginate_disabled_previous:hover,
        .paginate_disabled_next, .paginate_disabled_next:hover{color: #999; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; text-decoration: none;}
        
        .dataTables_wrapper table{float: left;}
        
        
    /* eof datatables */
   
    
    /* Gallery grid */
        .gGallery {list-style-type: none; position: relative; margin: 0; float: left; width: 100%; background: #FFF;}
        .gGallery li{width: 100px; background-color: #ffffff; border: 1px solid #dedede; cursor: pointer; padding: 4px;
                      -moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px; overflow-x: hidden;}        
        .gGallery li a,.gGallery li a img{display: block;}        
    /* eof Gallery grid */
    
    /* fancybox */
        .fancybox-skin{-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px;}
        .fancybox-close{width: 24px; height: 24px; right: -12px; top: -12px;}
    /* fancybox */
    
    /* listing */
    .list{list-style: none; margin: 0px; padding: 0px; position: relative; border: 1px solid #E5E5E5;}
        .list li{display: block; padding: 5px; border-top: 1px solid #FFF; border-bottom: 1px solid #E5E5E5;}
            .list li:last-child{border-bottom: 0px;}
            .list li .title{float: left; padding: 0px 5px 0px 21px;}
                .list li .title a{font-size: 12px; line-height: 14px; display: block;}
                .list li .title p{margin: 0px; line-height: 14px; display: block;}
            .list li .actions{float: right; margin-top: 2px;}
            
        .list.tickets li.new{background: url('../img/icons/alerts/sign_warning.png') 5px center no-repeat #FFFFCB;}
        .list.tickets li.accept{background: url('../img/icons/alerts/sign_info.png') 5px center no-repeat #edf9ff;}
        .list.tickets li.done{background: url('../img/icons/alerts/sign_tick.png') 5px center no-repeat #f1fcdb;}
    /* eof listing */
    
    /* select2 */    
    .select2-container .select2-choice, .select2-container.select2-drop-above .select2-choice, .select2-drop.select2-drop-above,
    .select2-container-multi .select2-choices, .select2-search input, .select2-container-active .select2-choice, .select2-container-multi.select2-container-active .select2-choices,
    .select2-container .select2-choice div{border-color: #DDD; background: #FFF; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px;}    
    .select2-dropdown-open .select2-choice div{border-left: 1px solid #DDD;}
    .select2-drop.select2-drop-above{border-bottom: 1px solid #DDD; -moz-box-shadow: 0px -1px 3px rgba(0,0,0, .15); -webkit-box-shadow: 0px -1px 3px rgba(0,0,0, .15); box-shadow: 0px -1px 3px rgba(0,0,0, .15);}
    .select2-container-active .select2-choice,
    .select2-container-multi.select2-container-active .select2-choices{-moz-box-shadow: 0px 0px 3px rgba(0,0,0, .15); -webkit-box-shadow: 0px 0px 3px rgba(0,0,0, .15); box-shadow: 0px 0px 3px rgba(0,0,0, .15);}
    .select2-container-multi .select2-choices .select2-search-choice{background: #54A1E6; border: 1px solid #54A1E6; color: #FFF;
                                                                     -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px;
                                                                     -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
                                                                     text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}
    .select2-container .select2-choice div{background: #EEE; width: 26px;}
    .select2-container .select2-choice div b{background-position: 5px 1px;}
    .select2-dropdown-open .select2-choice div b{background-position: -13px 1px}
    .select2-container .select2-choice span{padding-right: 31px;}
    .select2-results .select2-highlighted{background: #54A1E6; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}
    .select2-search-choice-close{top: 3px;}    
        
    /* eof select2*/
    
    /* Tagsinput */
    div.tagsinput{padding: 0px;}
        div.tagsinput span.tag{margin: 3px; padding: 3px 5px; font-size: 11px; line-height: 14px; border: 1px solid #54A1E6; background: #54A1E6; color: #FFF; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
                               -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px;}
            div.tagsinput span.tag a{color: #FFF;}
                div.tagsinput span.tag a:hover{color: #333;}
    div.tagsinput div{line-height: 28px;}
    div.tagsinput div input{line-height: 20px; font-size: 11px; margin: -2px 0px 0px; padding: 0px;}
    /* eof Tagsinput */
    
    /* sortable blocks */
    .sortablePlaceholder{border: 1px dashed #333; height: 30px; margin-bottom: 20px;
                         -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
    /* eof sortable blocks */
    
    /* accordion */
    .accordion{border-right: 1px solid #DDD; border-left: 1px solid #DDD;}
        .ui-accordion .ui-accordion-header{background-color: #F1F1F1; padding: 8px 10px 8px 30px; font-size: 12px; color: #40516b; font-weight: bold; 
                                           border: 0px; border-bottom: 1px solid #DDD; border-top: 1px solid #FFF; text-shadow: 1px 1px 0px #FFF;}
        .ui-accordion .ui-state-hover{background-color: #EEE;}
        .ui-accordion .ui-widget-content{padding: 10px 5px; background: #FFF;}
            .ui-accordion .ui-widget-content:last-child{box-shadow: none;}
            .ui-accordion .ui-accordion-header:first-child{border-top: 0px;}
            .ui-accordion .ui-accordion-header:last-child{border-bottom: 0px; box-shadow: none;}            
    /* eof accordion */
    
    /* tabs */
    .tabs{border: 1px solid #DDD; border-top: 0px;}       
        .ui-tabs .ui-tabs-nav .ui-state-default.ui-tabs-active{background-color: #F5F5F5; border-bottom: 1px solid #F5F5F5;}
        .ui-tabs .ui-tabs-nav .ui-state-default.ui-state-hover{background-color: #EEE;}
    .ui-tabs .ui-tabs-nav li a{color: #40516b; font-weight: bold; text-shadow: 1px 1px 0px #FFF;}
        
    
    /* eof tabs */
    
    /* spiner */
    .ui-spinner{padding-right: 20px; display: block; position: relative;}
        .ui-spinner-up{position: absolute; right: 0px; top: 1px; background: #EEE; border: 1px solid #DDD; height: 13px; padding-left: 1px; cursor: pointer;
                       -moz-box-shadow: inset 0px 1px 2px #FFF; -webkit-box-shadow: inset 0px 1px 2px #FFF; box-shadow: inset 0px 1px 2px #FFF;}
        .ui-spinner-down{position: absolute; right: 0px; bottom: 0px; background: #EEE; border: 1px solid #DDD; border-top: 0px; height: 14px; cursor: pointer;
                        -moz-box-shadow: inset 0px 1px 2px #FFF; -webkit-box-shadow: inset 0px 1px 2px #FFF; box-shadow: inset 0px 1px 2px #FFF;}
            .ui-spinner-up .ui-icon{ width: 16px; height: 13px; }
            .ui-spinner-down .ui-icon{ width: 16px; height: 10px; padding-right: 1px;}
    /* eof spinner */
    
    /* datepicker */
    .hasDatepicker{display: block;}
    /* eof datepicker */
    
    
    /* messages */
    
    .messages{display: block; position: relative; padding: 0px;}
        .messages .item{position: relative; display: block; border-bottom: 1px solid #E5E5E5; border-top: 1px solid #FFF; padding: 5px 0px 25px;}
             .messages .item .image{position: absolute; left: 5px; top: 6px;}
             .messages .item .date{position: absolute; right: 5px; top: 3px; color: #999; text-shadow: 0px 1px 0px #FFF; font-size: 11px;}
             .messages .item .text{padding-left: 75px; padding-right: 5px; display: block; min-height: 46px; *height: 46px;}
                .messages .item .text > a{font-family: 'Helvetica Neue','Helvetica',Arial,sans-serif; font-size: 12px; color: #005580; text-decoration: none; font-weight: bold; text-shadow: 0px 1px 0px #FFF;}
                    .messages .item .text > a:hover{color: #333;}
             .messages .item .actions{position: absolute; top: 65px; left: 5px; opacity: 0.1; filter:alpha(opacity=10); width: 60px; text-align: center;}
                .messages .item .actions:hover{opacity: 1; filter:alpha(opacity=100);}
             .messages .item .rating{position: absolute; right: 5px; bottom: 5px;}
             
    /* eof messages */

    /* messaging */
    .messaging{display: block; position: relative; padding: 0px; background: #FFF;}
        .messaging .item{position: relative; display: block; margin-bottom: 10px;}
        .messaging .item:last-child{margin-bottom: 0px;}
            .messaging .item .image{position: absolute; left: 0px; top: 0px;}
                .messaging .item.out .image{right: 0px; left: auto;}
            .messaging .item .text{margin-left: 75px; display: block; padding: 5px; border: 1px solid #E5E5E5; background: #F5F5F5;
                                   -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
            .messaging .item .date{position: absolute; right: 5px; top: 3px; color: #999; text-shadow: 0px 1px 0px #FFF; font-size: 11px;}
                .messaging .item.out .date{right: 80px;}
                .messaging .item.out .text{margin-right: 75px; margin-left: 0px;}
            .messaging .item .text > a{font-family: 'Helvetica Neue','Helvetica',Arial,sans-serif; font-size: 12px; color: #005580; text-decoration: none; font-weight: bold; text-shadow: 0px 1px 0px #FFF;}
                .messaging .item .text > a:hover{color: #333;}
    /* messaging */
    
    /* rating */
    .rating{width: 90px; height: 19px; display: block;}
        .rating a.star{width: 18px; height: 19px; display: block; float: left; background: url('../img/stare.png') center 0px no-repeat; line-height: 1px; margin: 0px; padding: 0px;}
        .rating a.star.active{background-image: url('../img/star.png');}
    
    /* eof rating */
    
    /* events */
    
    .events{display: block; position: relative; padding: 0px;}
        .events .item{border-bottom: 1px solid #E5E5E5; border-top: 1px solid #FFF;}
            .events .item .date{width: 70px; padding: 0px 5px; display: block; position: absolute;}
                .events .item .date span.day{padding-top: 10px; font-size: 40px; color: #666; line-height: 36px; text-align: center; display: block; text-shadow: 0px 1px 1px #FFF;}
                .events .item .date span.month{font-size: 13px; color: #999; font-family: 'Helvetica Neue','Helvetica',Arial,sans-serif; line-height: 17px; display: block; text-align: center;}
                .events .item .date .caption{width: 30px; height: 30px; position: absolute; right: 0px; top:0px; background: url('../img/backgrounds/event.png') left top no-repeat;}
                    .events .item .date .caption.red{background-image: url('../img/backgrounds/event_red.png');}
                    .events .item .date .caption.green{background-image: url('../img/backgrounds/event_green.png');}
                    .events .item .date .caption.orange{background-image: url('../img/backgrounds/event_orange.png');}
                        .events .item .date .caption span{display: block; float: right; margin-right: 1px; margin-top: 2px;}
            .events .item .info{display: block; margin-left: 80px; border-left: 1px solid #E5E5E5; padding: 5px;
                                -moz-box-shadow: inset 1px 0px 1px #FFF; -webkit-box-shadow: inset 1px 0px 1px #FFF; box-shadow: inset 1px 0px 1px #FFF;}
            .events .item .info > a{font-size: 13px; line-height: 17px; font-family: 'Helvetica Neue','Helvetica',Arial,sans-serif; color: #005580; font-weight: bold; display: block;
                                    text-decoration: none; text-shadow: 0px 1px 0px #FFF;}
    
    /* events */
    
/* eof content */


/* Bootstrap */

    /* Buttons */
    .btn{margin-bottom: 3px;}
    .btn, .btn-group .btn,
    .btn-group > .btn:first-child,
    .btn-group > .btn:last-child{font-size: 11px; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px;}
    
        .btn.btn-large{font-size: 12px;}
        .btn [class^='ico']{margin-top: -1px;}
        .btn-group-vertical .btn{margin-bottom: 0px;}         
    
    .btn-group > .btn + .btn{margin-left: 0px;!}        
        
        .btn.btn-block{margin-bottom: 10px;}
        
    .btn-group > .dropdown-menu{-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; border-color: #DDD; font-size: 11px; padding: 0px;}
    
    .dropdown-menu .divider{background-color: #F1F1F1; margin: 5px 0px;}
    
    .dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{background: #54A1E6; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}
    
    /* eof Buttons */
    
    /* pagination */    
    .pagination ul > li > a, .pagination ul > li > span,
    .pagination ul > li > a:first-child, .pagination ul > li > a:last-child{-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; margin-left: 2px; margin-top: 2px; border-width: 2px;}
    .pagination ul > li > a,
    .pagination ul > li.disabled > a,
    .pagination ul > li.disabled > a:hover{color: #333; text-shadow: 0px 1px 0px #FFF; border-color: #FFF;
                            background-color: #E0E0E0;                            
                            filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffe9e9e9,EndColorStr=#ffdddddd);
                            background-image: -moz-linear-gradient(top,#E9E9E9 0,#DDDDDD 100%);
                            background-image: -ms-linear-gradient(top,#E9E9E9 0,#DDDDDD 100%);
                            background-image: -o-linear-gradient(top,#E9E9E9 0,#DDDDDD 100%);
                            background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#E9E9E9),color-stop(100%, #DDDDDD));
                            background-image: -webkit-linear-gradient(top,#E9E9E9 0, #DDDDDD 100%);
                            background-image: linear-gradient(to bottom,#E9E9E9 0, #DDDDDD 100%);
    }
    .pagination ul > li > span{border: 0px; color: #333; font-weight: bold;}
    .pagination ul > li.disabled > a,
    .pagination ul > li.disabled > a:hover{color: #999; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}
    
    .pagination ul > li.active > a,
    .pagination ul > li > a:hover{background: #DCDCDC; color: #333;
                                  -moz-box-shadow: inset 0 1px 2px #AAA;
                                  -webkit-box-shadow: inset 0 1px 2px #AAA;
                                  box-shadow: inset 0 1px 2px #AAA;}

    
    /* eof pagination */
    
    /* Modal */
    .modal{-moz-border-radius: 4px 4px 0px 0px; -webkit-border-radius: 4px 4px 0px 0px; border-radius: 4px 4px 0px 0px; border-color: #DDD;}
        .modal-header{box-shadow: 0 1px 0 #fff; background: url("../img/backgrounds/bg_box_head.jpg") left top repeat-x; 
                      -webkit-box-shadow: inset 0 1px white; -moz-box-shadow: inset 0 1px #fff; box-shadow: inset 0 1px white; 
                      -moz-border-radius: 4px 4px 0px 0px; -webkit-border-radius: 4px 4px 0px 0px; border-radius: 4px 4px 0px 0px;
                      padding: 7px 10px 6px 10px;}
            .modal-header h3{color: #333; font-family: 'Helvetica Neue','Helvetica',Arial,sans-serif; font-size: 13px; font-weight: bold; text-shadow: 0 1px white; line-height: 20px;}
    .modal-backdrop, .modal-backdrop.fade.in{opacity: 0.25; filter: alpha(opacity=25); background: #333;}
        .modal .block, .modal .block-fluid{margin-bottom: 0px;}
    .modal-footer .btn{margin-bottom: 0px;}
    /* eof modal */

    /* popover */
    .popover{border-color: #DDD;}
    .popover-title{background: url("../img/backgrounds/bg_box_head.jpg") left top repeat-x; color: #333; font-family: 'Helvetica Neue','Helvetica',Arial,sans-serif; font-size: 13px; font-weight: bold; text-shadow: 0 1px white; line-height: 20px;}
    /* popover */
    
    
    /* progress */
    .progress{margin: 5px 0px !important;}
    .progress.small{height: 5px;}
        .progress .bar{-moz-box-shadow: inset 0px 1px 1px rgba(255,255,255,0.5); -webkit-box-shadow: inset 0px 1px 1px rgba(255,255,255,0.5); box-shadow: inset 0px 1px 1px rgba(255,255,255,0.5); margin-bottom: 1px;}
    /* eof progress */
    
    /* alerts */
    .alert{margin-bottom: 10px;  cursor: pointer; border: 3px solid #FFF;
          -moz-box-shadow: 1px 2px 2px #CCC; -webkit-box-shadow: 1px 2px 2px #CCC; box-shadow: 1px 2px 2px #CCC; }
    .block .alert, .block-fluid .alert{border: 0px; margin-bottom: 3px;
                                                       -moz-box-shadow: inset 0px 1px 1px #FFF; -webkit-box-shadow: inset 0px 1px 1px #FFF; box-shadow: inset 0px 1px 1px #FFF;
                                                       -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px;}
            
        .alert.alert-block{background: #FFDE91; color: #9F5E44; padding: 8px 35px 8px 14px;}
        .alert.alert-error{background: #E3A492; color: #852D1D;}
        .alert.alert-success{background: #CAE099; color: #4F7305;}
        .alert.alert-info{background: #d6e9f8; color: #4073A3;}
    /* eof alerts */
    
    /* tooltip */
    .tooltip-inner{text-shadow: none;}
    /* eof tooltip */
    
    /* Row form - new */
        /* set clear fix to row-form element */
        * html .row-form{ height: 1%; overflow: visible; } /* ie 6 */
        *+html .row-form{ min-height: 1%; } /* ie 7 */
        .row-form:after{clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0; }
        /* eof set */
        
    .row-form{border: 1px solid #DDD; border-top-color: #FFF; padding: 10px 15px; vertical-align: baseline;}
    .row-form:first-child{border-top-color: #DDD;}
        .row-form > [class^="span"]{color: #333; text-shadow: 1px 1px 1px #FFF; line-height: 30px;}        
        input[type="text"], input[type="password"], textarea, select{ 
                        border-color: #DDD; font-size: 11px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; 
                        display: inline-block; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; color: #454545; height: 30px; margin-bottom: 0px;}                
        select:focus{outline: 0 !important;}
        select[multiple]{min-height: 100px;}        
        textarea{min-height: 100px;}
                        
        .row-form .input-prepend, .row-form .input-append{margin-bottom: 0px !important;}        
            .row-form .input-prepend .add-on, .row-form .input-append .add-on{font-size: 11px;}
            
        .row-form .input-prepend input[type="file"], .row-form .input-append input[type="file"]{width: 0px; left: -9999px; position: absolute; visibility: hidden;}                
        
        .row-form [class^="span"] > div{margin-bottom: 10px;}                
        .row-form [class^="span"] > span.bottom,
        .row-form [class^="span"] > span.top{font-size: 11px; color: #999; line-height: 14px; display: block; margin-top: 5px;}
        .row-form [class^="span"] > span.top{margin-bottom: 5px; margin-top: 0px;}
        .row-form [class^="span"] > span.top.title,
        .row-form [class^="span"] > span.bottom.title{color: #333;}
        
        
            /* highlights */
            .row-form.error [class^="span"]{color: #D96562;}
                .row-form.error input[type="text"]{border-color: #E8726E;}
                .row-form.error [class^="span"] > span{color: #D96562;}
            .row-form.warning [class^="span"]{color: #C1AC70;}
                .row-form.warning input[type="text"]{border-color: #C1AC70;}        
                .row-form.warning [class^="span"] > span{color: #C1AC70;}
            .row-form.success [class^="span"]{color: #518A38;}
                .row-form.success input[type="text"]{border-color: #518A38;}        
                .row-form.success [class^="span"] > span{color: #518A38;}
            .row-form.info [class^="span"]{color: #54A1E6;}
                .row-form.info input[type="text"]{border-color: #54A1E6;}                
                .row-form.info [class^="span"] > span{color: #518A38;}
            /* eof highlights */

        .row-form input.input-mini{width: 20%;}
        .row-form input.input-small{width: 30%;}
        .row-form input.input-medium{width: 40%;}
        .row-form input.input-large{width: 50%;}
        .row-form input.input-xlarge{width: 70%;}
        .row-form input.input-xxlarge{width: 80%;}
        .row-form input.input-huge{width: 90%;}
            
            
    /* eof row form */
    
    /*
    
    
/* eof Bootstrap */

/* icons list */

    .the-icons{list-style: none; padding: 0px; margin: 0px; display: block; margin: 0px 10px;}
    .the-icons li{padding: 8px 5px; width: 150px; display: block; float: left; cursor: pointer; margin: 1px 0px; border: 1px solid #F5F5F5;
                  -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; height: 20px;}
        .the-icons li:hover,
        .the-icons li.active{background-color: #EEE; border: 1px solid #E5E5E5;}

/* eof icons list */

/* sGallery */
    .sGallery{position: relative; background: #f1f1f1; padding: 0px 10px 10px;}
        .sGallery .item{width: 150px; height: 94px; border: 5px solid #FFF; float: left; overflow: hidden;  margin-top: 10px; position: relative;}
            .sGallery .item a{display: block; width: 150px; text-align: center; position: relative;}
                .sGallery .item a img{height: auto; max-width: none; vertical-align: baseline; border: 0;}
                
                .sGallery .item ul.controls{position: absolute; right: -150px; top: 0px; margin: 0px; padding: 5px; list-style: none; height: 84px; background-color: rgba(255,255,255,0.8);}
                    .sGallery .item ul.controls li{color: #333; display: block; float: left; clear: both; width: 75px;}
                    .sGallery .item ul.controls li a{display: block; float: left; text-align: left; padding: 0px; margin: 0px; color: #333; width: auto; text-decoration: none;}
                    .sGallery .item ul.controls li a:hover{color: #111;}
                        .sGallery .item ul.controls li [class^=icon]{display: block; float: left; margin-top: 3px; margin-right: 5px;}

/* eof sGallery */

/* Gallery */
    .Gallery{position: relative; background: #f1f1f1; padding: 0px 10px;}
    .Gallery .view{width: 300px; height: 200px; float: left; border: 10px solid #fff; cursor: default; margin-top: 10px; margin-bottom: 10px;
                    overflow: hidden; position: relative; text-align: center; box-shadow: 1px 1px 2px #e6e6e6; 
                    background: url(../img/backgrounds/bg_gallery.jpg) center center no-repeat #fff;}
        .Gallery .view .mask, .Gallery .view .content{width: 300px; height: 200px; position: absolute; overflow: hidden; top: 0; left: 0; margin: 0px; padding: 0px;}
        .Gallery .view img{display: block; position: relative; width: auto; height: auto; max-width: none; vertical-align: baseline; border: 0;}
            .Gallery .view h2{text-transform: uppercase; color: #fff; text-align: center; position: relative; font-size: 17px; padding: 10px;
                            background: rgba(0, 0, 0, 0.8); margin: 20px 0 0 0;}
            .Gallery .view p{font-family: Georgia, serif; font-style: italic; font-size: 12px; position: relative;
                            color: #fff; padding: 10px 20px 20px; text-align: center;}
            .Gallery .view a.info{display: inline-block; text-decoration: none; padding: 7px 14px; background: #000;
                                color: #fff; text-transform: uppercase; box-shadow: 0 0 1px #000;}
            .Gallery .view a.info:hover {box-shadow: 0 0 5px #000;}

            /* first type */
                .Gallery .ftype img{-webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in;
                                    -ms-transition: all 0.2s ease-in; transition: all 0.2s ease-in;}
                .Gallery .ftype .mask{background-color: rgba(115,146,184, 0.7);width: 300px;padding: 60px;height: 300px;
                                      -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0;
                                      -webkit-transform: translate(265px, 145px) rotate(45deg); -moz-transform: translate(265px, 145px) rotate(45deg);
                                      -o-transform: translate(265px, 145px) rotate(45deg); -ms-transform: translate(265px, 145px) rotate(45deg);
                                      transform: translate(265px, 145px) rotate(45deg);-webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out;
                                      -o-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
                .Gallery .ftype h2 {border-bottom: 1px solid rgba(0, 0, 0, 0.3); background: transparent; margin: 20px 40px 0px 40px;
                                    -webkit-transform: translate(200px, -200px); -moz-transform: translate(200px, -200px); -o-transform: translate(200px, -200px); 
                                    -ms-transform: translate(200px, -200px); transform: translate(200px, -200px); -webkit-transition: all 0.2s ease-in-out;
                                    -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out;
                                    transition: all 0.2s ease-in-out;}
                .Gallery .ftype p{-webkit-transform: translate(-200px, 200px);-moz-transform: translate(-200px, 200px);-o-transform: translate(-200px, 200px);
                                    -ms-transform: translate(-200px, 200px);transform: translate(-200px, 200px);-webkit-transition: all 0.2s ease-in-out;
                                    -moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;
                                    transition: all 0.2s ease-in-out;}
                .Gallery .ftype a.info {-webkit-transform: translate(0px, 100px);-moz-transform: translate(0px, 100px);-o-transform: translate(0px, 100px);
                                        -ms-transform: translate(0px, 100px);transform: translate(0px, 100px);-webkit-transition: all 0.2s 0.1s ease-in-out;
                                        -moz-transition: all 0.2s 0.1s ease-in-out;-o-transition: all 0.2s 0.1s ease-in-out;-ms-transition: all 0.2s 0.1s ease-in-out;
                                        transition: all 0.2s 0.1s ease-in-out;}
                
                .Gallery .ftype:hover .mask { -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1;
                                              -webkit-transform: translate(-80px, -125px) rotate(45deg); -moz-transform: translate(-80px, -125px) rotate(45deg);
                                              -o-transform: translate(-80px, -125px) rotate(45deg); -ms-transform: translate(-80px, -125px) rotate(45deg);
                                              transform: translate(-80px, -125px) rotate(45deg);}
                .Gallery .ftype:hover h2 {-webkit-transform: translate(0px,0px);-moz-transform: translate(0px,0px);-o-transform: translate(0px,0px);
                                          -ms-transform: translate(0px,0px); transform: translate(0px,0px); -webkit-transition-delay: 0.3s;
                                          -moz-transition-delay: 0.3s;-o-transition-delay: 0.3s; -ms-transition-delay: 0.3s; transition-delay: 0.3s;}
                .Gallery .ftype:hover p {-webkit-transform: translate(0px,0px);-moz-transform: translate(0px,0px);-o-transform: translate(0px,0px);
                                         -ms-transform: translate(0px,0px);transform: translate(0px,0px);-webkit-transition-delay: 0.4s;-moz-transition-delay: 0.4s;
                                         -o-transition-delay: 0.4s;-ms-transition-delay: 0.4s;transition-delay: 0.4s;}
                .Gallery .ftype:hover a.info {-webkit-transform: translate(0px,0px);-moz-transform: translate(0px,0px);-o-transform: translate(0px,0px);
                                              -ms-transform: translate(0px,0px); transform: translate(0px,0px); -webkit-transition-delay: 0.5s; -moz-transition-delay: 0.5s;
                                              -o-transition-delay: 0.5s; -ms-transition-delay: 0.5s; transition-delay: 0.5s;}        
            /* eof first type */
            
            /* second type */
            .Gallery .stype .mask{background-color:rgba(255,255,255,0.7);top:-200px;-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0;-webkit-transition:all .3s ease-out .5s;-moz-transition:all .3s ease-out .5s;-o-transition:all .3s ease-out .5s;-ms-transition:all .3s ease-out .5s;transition:all .3s ease-out .5s}
            .Gallery .stype h2{-webkit-transform:translateY(-200px);-moz-transform:translateY(-200px);-o-transform:translateY(-200px);-ms-transform:translateY(-200px);transform:translateY(-200px);-webkit-transition:all .2s ease-in-out .1s;-moz-transition:all .2s ease-in-out .1s;-o-transition:all .2s ease-in-out .1s;-ms-transition:all .2s ease-in-out .1s;transition:all .2s ease-in-out .1s}
            .Gallery .stype p{color:#333;-webkit-transform:translateY(-200px);-moz-transform:translateY(-200px);-o-transform:translateY(-200px);-ms-transform:translateY(-200px);transform:translateY(-200px);-webkit-transition:all .2s ease-in-out .2s;-moz-transition:all .2s ease-in-out .2s;-o-transition:all .2s ease-in-out .2s;-ms-transition:all .2s ease-in-out .2s;transition:all .2s ease-in-out .2s}
            .Gallery .stype a.info{-webkit-transform:translateY(-200px);-moz-transform:translateY(-200px);-o-transform:translateY(-200px);-ms-transform:translateY(-200px);transform:translateY(-200px);-webkit-transition:all .2s ease-in-out .3s;-moz-transition:all .2s ease-in-out .3s;-o-transition:all .2s ease-in-out .3s;-ms-transition:all .2s ease-in-out .3s;transition:all .2s ease-in-out .3s}
            .Gallery .stype:hover .mask{-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);opacity:1;top:0;-webkit-transition-delay:0;-moz-transition-delay:0;-o-transition-delay:0;-ms-transition-delay:0;transition-delay:0;-webkit-animation:bounceY .9s linear;-moz-animation:bounceY .9s linear;-ms-animation:bounceY .9s linear;animation:bounceY .9s linear}
            .Gallery .stype:hover h2{-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-o-transform:translateY(0px);-ms-transform:translateY(0px);transform:translateY(0px);-webkit-transition-delay:.4s;-moz-transition-delay:.4s;-o-transition-delay:.4s;-ms-transition-delay:.4s;transition-delay:.4s}
            .Gallery .stype:hover p{-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-o-transform:translateY(0px);-ms-transform:translateY(0px);transform:translateY(0px);-webkit-transition-delay:.2s;-moz-transition-delay:.2s;-o-transition-delay:.2s;-ms-transition-delay:.2s;transition-delay:.2s}
            .Gallery .stype:hover a.info{-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-o-transform:translateY(0px);-ms-transform:translateY(0px);transform:translateY(0px);-webkit-transition-delay:0;-moz-transition-delay:0;-o-transition-delay:0;-ms-transition-delay:0;transition-delay:0}
            @keyframes bounceY {
                0% { transform: translateY(-205px);}
                40% { transform: translateY(-100px);}
                65% { transform: translateY(-52px);}
                82% { transform: translateY(-25px);}
                92% { transform: translateY(-12px);}
                55%, 75%, 87%, 97%, 100% { transform: translateY(0px);}
            }
            @-moz-keyframes bounceY {
                0% { -moz-transform: translateY(-205px);}
                40% { -moz-transform: translateY(-100px);}
                65% { -moz-transform: translateY(-52px);}
                82% { -moz-transform: translateY(-25px);}
                92% { -moz-transform: translateY(-12px);}
                55%, 75%, 87%, 97%, 100% { -moz-transform: translateY(0px);}
            }
            @-webkit-keyframes bounceY {
                0% { -webkit-transform: translateY(-205px);}
                40% { -webkit-transform: translateY(-100px);}
                65% { -webkit-transform: translateY(-52px);}
                82% { -webkit-transform: translateY(-25px);}
                92% { -webkit-transform: translateY(-12px);}
                55%, 75%, 87%, 97%, 100% { -webkit-transform: translateY(0px);}
            }
            /* second type */
            
/* eof Gallery */

/* responsive video */
    .video {height: 0;padding-top: 25px;padding-bottom: 67.5%;margin-bottom: 10px;position: relative;overflow: hidden;}
    .video.vimeo{padding-top: 0;}
    .video.widescreen{padding-bottom: 57.25%;}
    .video embed, 
    .video iframe, 
    .video object, 
    .video video {top: 0; left: 0; width: 100%; height: 100%; position: absolute;}
/* eof video */

/* pluploader */
    .plupload .plupload_header{display: none;}
    .plupload_container{padding: 0px;}
    .plupload_filelist_header, .plupload_filelist_footer{background-color: #F5F5F5;}
    .plupload_scroll .plupload_filelist{background-color: #FFF;}
/* eof pluloader */

/* login form */
    .logo.centralize{display: block; float: none; margin: 2px auto 3px;}
    .login{width: 300px; padding: 10px; background: rgba(0,0,0,0.1); position: absolute; top: 200px; left: 50%; margin-left: -160px;
           -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
           -moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.2); -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.2); box-shadow: 2px 2px 4px rgba(0,0,0,0.2);}
        .login .wrap{width: 280px; background-color: #FFF; border: 1px solid #CCC; padding: 10px;
                    -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;}
        .login .wrap h1{font-size: 16px; color: #3E506A; font-family: 'Helvetica Neue','Helvetica',Arial,sans-serif; margin: 0px 0px 10px 0px; line-height: 20px;}
        .login .wrap .remember{padding-top: 5px;}
            .login .wrap .btn{margin-bottom: 0px;}
    #sign, #forgot{display: none;}

/* eof login form */


/* error pages */

.errorContainer{width: 700px; text-align: center; margin: 100px auto;}
    .errorContainer h1{
        font-family: 'Helvetica Neue',Helvetica, sans-serif;
        line-height: 1em;
        color: #ffffff;
        font-weight:bold;
        font-size: 220px;
        text-shadow: 0px 0px 0 rgb(217,217,217),
                    1px 1px 0 rgb(197,197,197),
                    2px 2px 0 rgb(176,176,176),
                    3px 3px 0 rgb(155,155,155),
                    4px 4px 0 rgb(134,134,134),
                    5px 5px 0 rgb(114,114,114),
                    6px 6px 0 rgb(93,93,93), 
                    7px 7px 0 rgb(72,72,72),
                    8px 8px 7px rgba(0,0,0,0.45),
                    8px 8px 1px rgba(0,0,0,0.5),
                    0px 0px 7px rgba(0,0,0,.2);}
    .errorContainer h2{font-size: 20px; color: #333;}    
/* eof error pages */


/* chart */
    .legend table,
    .legend table tr,
    .legend table td{border: 0px; background: transparent !important; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}        
/* eof chart */