@import "/Tracker/css/bootstrap/bootstrap.min.css";
@import "/Tracker/css/bootstrap/bootstrap-responsive.min.css";
@import "/Tracker/css/jquery/jquery-ui-1.9.1.custom.min.css";
@import "/Tracker/css/fullcalendar/fullcalendar.css";
@import "/Tracker/css/pnotify/jquery.pnotify.default.css";
@import "/Tracker/css/fancybox/jquery.fancybox.css";
@import "/Tracker/css/uniform/uniform.css";
@import "/Tracker/css/select/select.css";
@import "/Tracker/css/tagsinput/jquery.tagsinput.css";
@import "/Tracker/css/multiselect/multiselect.css";
@import "/Tracker/css/jbreadcrumb/BreadCrumb.css";
@import "/Tracker/css/validation/validationEngine.jquery.css";
@import "/Tracker/css/stepywizard/jquery.stepy.css";
@import "/Tracker/css/mcustomscrollbar/mCustomScrollbar.css";
@import "/Tracker/css/media/mediaelementplayer.min.css";
@import "/Tracker/css/cleditor/cleditor.css";
@import "/Tracker/css/shbrush/shCoreDefault.css";
@import "/Tracker/css/shbrush/shThemeDefault.css";
@import "/Tracker/css/slidernav/slidernav.css";
@import "/Tracker/css/isotope/isotope.css";
@import "/Tracker/css/jnotes/jnotes.css";
@import "/Tracker/css/jcrop/jquery.Jcrop.css";
@import "/Tracker/css/ibutton/jquery.ibutton.css";
@import "/Tracker/css/icons.css";
@import "/Tracker/css/styling.css";
@import "/Tracker/css/stylesheet.css";
@import "/Tracker/css/mystyles.css";

html { height: 100%; }
body { min-height: 100%; font-family: 'Helvetica Neue','Helvetica',Arial,sans-serif; font-size: 11px; position: relative; background: url('../img/backgrounds/bg_default.jpg') left top repeat;}


/*~Smartphones (portrait and landscape)~*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {    
    .block, .block-fluid{ overflow: hidden; overflow-x: scroll; }
    .errorContainer{width: 319px; margin-top: 50px;}
        .errorContainer h1{font-size: 110px;}
        .errorContainer h2{font-size: 16px;}
            
}

/*~Smartphones (landscape)~*/
@media only screen and (min-width : 321px) {
    
}

/*~Smartphones (portrait)~*/
@media only screen and (max-width : 320px) {
    .errorContainer{width: 319px; margin-top: 50px;}
        .errorContainer h1{font-size: 110px;}
        .errorContainer h2{font-size: 16px;}    
    
    /* timeline */
    .timeline{background-position: 10px 10px;}
    .timeline .event{padding-left: 50px;}
    .timeline .event .icon{left: 2px;}
    .timeline .event .date{display: none;}    
    .timeline .event .body .text.video{width: 140px !important; height: 80px !important;}
    .timeline .event .body .text.map{width: 140px !important; height: 100px !important;}                
    /* eof timeline */
    
    .popup{position: static;}
    .popup.active .body{right: 10px; top: 45px;}
        .popup.active .body .arrow{display: none;}
}

/*~Bootstrap fix~*/
@media only screen and (max-width: 767px) {
    body{padding: 0px;}
    .block, .block-fluid{ overflow: hidden; overflow-x: auto; }
    .video{padding-top: 0;}    
        .errorContainer{width: 319px; margin-top: 50px;}
        .errorContainer h1{font-size: 110px;}
        .errorContainer h2{font-size: 16px;}    
     
    /* timeline */
    .timeline .event .body .text.video{width: 200px; height: 113px;}
    .timeline .event .body .text.map{width: 200px; height: 150px;}            
    /* eof timeline */
}
@media only screen and (min-width: 768px) {
    /* timeline */
    .timeline .event .body .text.video{width: 300px; height: 169px;}
    .timeline .event .body .text.map{width: 300px; height: 200px;}    
    /* eof timeline */
}
/*~iPads (portrait and landscape)~*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    
}

/*~ ~*/
@media only screen and (max-width : 1025px) {
    .fc-header-right{display: none;}
    .footer .left{display: none;}
}

/*~Desktops and laptops~*/
@media only screen and (min-width : 1025px) {
    /* timeline */
    .timeline .event .body .text.video{width: 400px; height: 225px;}
    .timeline .event .body .text.map{width: 400px; height: 300px;}
    /* eof timeline */
}

